#titel {
    justify-content: center;
}
.flexDiv {
    display: flex;
}
#infoDiv {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
#chartDiv {
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}
.Chart {
    width: 90%;
}
#dateInput {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}
.dateSelector { 
    margin: 1%;
    width: 100%;
    height: 100%;
}
#curentParentDiv {
    display: flex;
    justify-content: center;
}
#curentValueDiv {
    flex-direction: column;
    width: 100px;
}
#curentDelayDiv {
    flex-direction: column;
    margin-left: 5%;
    width: 90px;
}
.thermValue {
    width: 100%;
}
#valuePatrent {
    width: 40%;
}
#delayParent {
    width: 40%;
}
@media (min-width: 700px) {
    #titel {
        justify-content: start;
    }
    #infoDiv {
        justify-content: space-between;
        flex-direction: row-reverse;   
        width: 90%;
        margin-right: 7%;
        margin-left: 3%; 
    }
    .Chart {
        width: 45%;
    }
    #chartDiv {
        flex-direction: row;
    }
    #dateInput {
        margin-left: 15%;
        flex-direction: column;
        justify-content: flex-end;
        width: 100px;
    }
    #curentParentDiv {
        margin-right: 15%;
    }
    #curentValueDiv {
        flex-direction: column;
        width: 100px;
    }
    #valuePatrent {
        width: 90%;
        justify-content: center;
    }
    #delayParent {
        width: 45%;
        justify-content: center;
    }
    #dateParent {
        width: 45%;
        margin: 0;
    }
}